name: Test
on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Emacs
        run: sudo apt-get install -y emacs-nox
      - uses: leotaku/elisp-check@master
